name: CI/CD Pipeline - Test, Build & Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  # ====================================================
  # JOB 1 : TESTS 
  # ====================================================
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
        pip install -r requirements.txt

    - name: Security Scan with Bandit
      run: bandit -r src/ -ll -ii

    - name: Run Unit Tests 
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }} 
      run: pytest -v -m "not slow"

    - name: Smoke Test Backend (API)
      env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }} 
      run: |
        echo "API check..."
        nohup uvicorn src.main:app --host 127.0.0.1 --port 8000 &
        BACKEND_PID=$!
        sleep 5
        echo "Check if API is running..."
        retries=0
        max_retries=24
        until curl --output /dev/null --silent --head --fail http://127.0.0.1:8000/docs; do
            printf '.'
            retries=$((retries+1))
            if [ $retries -ge $max_retries ]; then
                echo "TIMEOUT : API has not started."
                cat backend.log
                kill $BACKEND_PID
                exit 1
            fi
            sleep 5
        done
        echo "API OK !"
        kill $BACKEND_PID

    - name: Smoke Test Frontend (Gradio)
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }} 
      run: |
        echo "Check gradio web interface..."
        python app.py > frontend.log 2>&1 &
        FRONTEND_PID=$!
        sleep 15
        if kill -0 $FRONTEND_PID 2>/dev/null; then
          echo "Gradio OK !"
          kill $FRONTEND_PID
        else
          echo "Gradio has crashed !"
          cat frontend.log
          exit 1
        fi

  # ====================================================
  # JOB 2 : BUILD DOCKER 
  # ====================================================
  build-and-push:
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # --- CORRECTION MINUSCULES ---
      - name: Lowercase Repo Name
        run: |
          echo "IMAGE_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} # Define the Image name
          tags: |
            type=raw,value=latest
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  # ====================================================
  # JOB 3 : DEPLOY TO HF Space
  # ====================================================
  deploy-to-hf:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Lowercase Repo Name for URL
        run: |
          echo "LOWERCASE_REPO=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
      
      - name: Update HF Space Dockerfile
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: JayRay5      
          SPACE_NAME: DIVE-Doc-docvqa     
          DOCKER_IMAGE: ghcr.io/${{ env.LOWERCASE_REPO }}:latest
        run: |
          git config --global user.email "bot@github.com"
          git config --global user.name "GitHub Action Bot"
          
          git clone https://oauth2:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/$SPACE_NAME space_repo
          cd space_repo
          
          # Debug : Afficher l'image qu'on va écrire (pour vérifier)
          echo "Deploying Image: $DOCKER_IMAGE"
          
          echo "FROM $DOCKER_IMAGE" > Dockerfile
          
          git add Dockerfile
          git commit -m "Deploy: Update image from GitHub Actions" --allow-empty
          git push --force
