name: Run Tests CI

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run Unit Tests before push
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }} 
      run: |
        pytest -v 

    # Optionnel : Si tu veux vraiment tenter le gros modèle (risque de OOM Crash)
    # Décommente ceci, mais c'est déconseillé sur les runners gratuits
    # - name: Run All Tests
    #   env:
    #     HF_TOKEN: ${{ secrets.HF_TOKEN }}
    #   run: pytest -v -m "not slow"