name: Run Tests CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install depedencies
      run: |
        python -m pip install --upgrade pip
        pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
        pip install -r requirements.txt

    - name: Security Scan with Bandit
      run: |
        # On reprend tes arguments validés : récursif, ignore Low
        bandit -r src/ -ll -ii

    - name: Run Unit Tests 
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }} 
      run: pytest -v -m "not slow"

    - name: Smoke Test Backend (API)
      env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }} 
      run: |
        echo "API check..."
        nohup uvicorn src.main:app --host 127.0.0.1 --port 8000 &
        BACKEND_PID=$!
        
        # 5s wait before to start
        sleep 5
        
        echo "Check if API is running..."
        retries=0
        max_retries=24
        
        until curl --output /dev/null --silent --head --fail http://127.0.0.1:8000/docs; do
            printf '.'
            retries=$((retries+1))
            
            # Si on dépasse le temps imparti
            if [ $retries -ge $max_retries ]; then
                echo "TIMEOUT : API has not started."
                echo "--- LOGS DU BACKEND ---"
                cat backend.log
                kill $BACKEND_PID
                exit 1
            fi
            
            # 
            sleep 5
        done
        
        echo "API OK !"
        kill $BACKEND_PID

    - name: Smoke Test Frontend (Gradio)
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }} 
      run: |
        echo "Check gradio web interface..."
        python app.py > frontend.log 2>&1 &
        FRONTEND_PID=$!
        
        sleep 15
        
        if kill -0 $FRONTEND_PID 2>/dev/null; then
          echo "Gradio OK !"
          kill $FRONTEND_PID
        else
          echo "Gradio has crashed !"
          echo "--- LOGS D'ERREUR ---"
          cat frontend.log
          exit 1
        fi